/* Header section of the app's styles */
header {
    background-color: azure;
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-height: 10vh;
    min-height: 10vh;
    border-bottom: 1px solid black;
}

header a {
    text-decoration: none;
}

#logo1 {
    color: orangered;
    font-size: 2rem;
}

#logo2 {
    color: blue;
    font-size: 1.65rem;
}

.searchBar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/* Nav section of the app's styles */






/* mainPage Section styles */
.mainPage {
    min-height: 70vh;
    max-height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}

/* Home Page of the App's styles */
.homePage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Footer section of the app's Styles */
footer {
    background-color: orangered;
    color: azure;
    min-height: 10vh;
    max-height: 10vh;
    border-top: 1px solid black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.subreddits {
    display: flex;
    flex-direction: row;
}
.activeSub {
    color: black;
}
.subreddits li img {
    max-height: 30px;
}