/* Header section of the app's styles */
header {
    background-color: azure;
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-height: 10vh;
    min-height: 10vh;
    border-bottom: 1px solid black;
}

#logo1 {
    color: orangered;
    font-size: 2rem;
}

#logo2 {
    color: blue;
    font-size: 1.65rem;
}

.searchBar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/* Nav section of the app's styles */
nav {
    min-height: 8vh;
    max-height: 8vh;
    background-color: orangered;
    color: azure;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    
}

nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    text-justify: center;
}

nav li {
    list-style: none;
}

nav a {
    text-decoration: none;
    color: azure;
    
}

/* mainPage Section styles */
.mainPage {
    min-height: 70vh;
    max-height: 70vh;
}

/* Footer section of the app's Styles */
footer {
    background-color: orangered;
    color: azure;
    min-height: 10vh;
    max-height: 10vh;
    border-top: 1px solid black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}